# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Node modules and build artifacts
node_modules/
package-lock.json
build/
dist/

# Component-specific
components/*/frontend/node_modules/
components/*/frontend/build/
components/*/frontend/package-lock.json
